include ../layout/navbar.pug

.container-fluid
    .row
        .col-md-12
            h1.page-header.text-center Login
    .row
        .col-md-offset-4.col-md-4
            form.form(name="loginForm" novalidate)
                .form-group(ng-class="{ 'has-success': loginForm.email.$valid && submitted, 'has-error': loginForm.email.$invalid && submitted }")
                    label Email
                    input.form-control(type="email" name="email" ng-model="user.email" placeholder="Email" ng-required="true" ng-disabled="isRequesting")
                    p.help-block(ng-show="loginForm.email.$error.required && submitted") Please enter your email
                    p.help-block(ng-show="loginForm.email.$error.email && submitted") Please enter a valid email

                .form-group(ng-class="{ 'has-success': loginForm.password.$valid && submitted, 'has-error': loginForm.password.$invalid && submitted }")
                    label Password
                    input.form-control(type="password" name="password" ng-model="user.password" placeholder="Password" ng-required="true" ng-disabled="isRequesting")
                    p.help-block(ng-show="loginForm.password.$error.required && submitted") Please enter your password

            .text-center
                button.btn.btn-primary.btn-block(type="button" ng-click="login()" ng-disabled="loginForm.$invalid || isRequesting") Login
                a(href="/forget-password") Restore password
