<div class="modal-header"><h3 class="modal-title">{{ items.title }}</h3></div>
<div class="modal-body">
    <div ng-repeat="msg in items.message.split('
')">
        <div>{{ msg }}</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>