<div class="modal-header"><h3 class="modal-title">Enter number of rows and cols</h3></div>
<div class="modal-body">
    <form class="form" name="tableForm">
        <div class="form-group"><label for="rows">Rows count</label><input class="form-control" type="number" name="rows" placeholder="Rows" ng-model="newtable.rows" ng-required="true"/></div>
        <div class="form-group"><label for="cols">Cols count</label><input class="form-control" type="number" name="cols" placeholder="Cols" ng-model="newtable.cols" ng-required="true"/></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>