<nav class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">Spotted Admin</a></div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar" ng-if="currentUser.role === 'user'">
                <li><a href="/projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="currentUser">
                <li><a href="#">{{ currentUser.email }}</a></li>
                <li><a href="#" ng-click="logout()" title="Log out"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"><h1 class="page-header text-center">Login</h1></div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form class="form" name="loginForm" novalidate="novalidate">
                <div class="form-group" ng-class="{ 'has-success': loginForm.email.$valid &amp;&amp; submitted, 'has-error': loginForm.email.$invalid &amp;&amp; submitted }"><label>Email</label><input
                        class="form-control" type="email" name="email" ng-model="user.email" placeholder="Email" ng-required="true" ng-disabled="isRequesting"/>
                    <p class="help-block" ng-show="loginForm.email.$error.required &amp;&amp; submitted">Please enter your email</p>
                    <p class="help-block" ng-show="loginForm.email.$error.email &amp;&amp; submitted">Please enter a valid email</p></div>
                <div class="form-group" ng-class="{ 'has-success': loginForm.password.$valid &amp;&amp; submitted, 'has-error': loginForm.password.$invalid &amp;&amp; submitted }">
                    <label>Password</label><input class="form-control" type="password" name="password" ng-model="user.password" placeholder="Password" ng-required="true" ng-disabled="isRequesting"/>
                    <p class="help-block" ng-show="loginForm.password.$error.required &amp;&amp; submitted">Please enter your password</p></div>
            </form>
            <div class="text-center">
                <button class="btn btn-primary btn-block" type="button" ng-click="login()" ng-disabled="loginForm.$invalid || isRequesting">Login</button>
                <a href="/forget-password">Restore password</a></div>
        </div>
    </div>
</div>