.nav-sidebar
  margin-bottom: 20px
  margin-left: -20px
  margin-right: -21px
  li
    a
      padding-left: 20px
      padding-right: 20px
  .active
    a,
    a:hover,
    a:focus
      background-color: #428bca
      color: #fff

.terms
  .tab-content
    padding-top: 10px

.footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  background-color: #f5f5f5
  padding-top: 10px
  .btn
    margin-bottom: 5px
    padding: 6px 30px

.sidebar
  display: none

.sub-header
  border-bottom: 1px solid #eee
  padding-bottom: 10px

.main
  .page-header
    margin-top: 0
    text-align: center

@media (min-width: 768px)
  .sidebar
    left: 0
    top: 51px
    bottom: 0
    padding: 20px
    display: block
    position: fixed
    z-index: 1000
    overflow-x: hidden
    overflow-y: auto
    background-color: #f5f5f5
    border-right: 1px solid #eee

  .main
    padding-left: 40px
    padding-right: 40px

.buttons
  a, button
    margin-right: 5px

.btn-icon-text
  margin-left: 5px

.ui-select-search
  padding-left: 10px

.sk-three-bounce
  margin: 0 auto

.undo-redo
  button
    padding: 4px 8px
    margin: 0 2px

.btn-undo
  i
    transform: scaleX(-1)

.btn-linked-screen
  padding: 12px 12px 10px 12px

.btn-linked-screen-on
  color: #4CAF50
  &:hover
    color: #4CAF50
  &:active
    color: #4CAF50
  &:focus
    color: #4CAF50

.btn-linked-screen-off
  color: #F44336
  &:hover
    color: #F44336
  &:active
    color: #F44336
  &:focus
    color: #F44336

.variable
  div
    display: inline-block
    width: calc(100% - 42px)
    margin-right: 2px
  .btn-variable-state
    display: inline-block
    width: 40px
    height: 34px
    vertical-align: top
    padding-left: 0
    padding-right: 0
    span
      font-size: 20px

.form-horizontal
  .radio
    padding-top: 0

.btn-pink
  background-color: #EC407A
  color: #FFFFFF
  &:hover
    background-color: #E91E63
    color: #FFFFFF
  &:active
    color: #FFFFFF
    background-color: #D81B60
  &:focus
    color: #FFFFFF
    background-color: #D81B60

.uncertain-bracket:before
.uncertain-bracket:after
  color: #EC407A
  font-size: 20px
  margin: 0 2px

.uncertain-bracket:before
  content: '['

.uncertain-bracket:after
  content: ']'
