button#import
  margin-right: 5px;
  position: relative;

input#imagefile
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0px;
  left: 0px;
  position: absolute;

table.term-templates
  td.term-type
    width: 200px
  td.variable
    width: 200px
  td.actions
    width: 130px
    button
      margin: 0 2px
  tr.disabled
    text-decoration: line-through
    color: #ff0000
