<form class="form-horizontal" name="userForm">
    <div class="form-group"><label class="col-md-3 control-label" for="firstName">First Name</label>
        <div class="col-md-9"><input class="form-control" name="firstName" ng-model="user.firstName" placeholder="First Name" ng-disabled="isSaving"/></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="lastName">Last Name</label>
        <div class="col-md-9"><input class="form-control" name="lastName" ng-model="user.lastName" placeholder="Last Name" ng-disabled="isSaving"/></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid || userForm.email.$error.required }"><label class="col-md-3 control-label" for="email">Email*</label>
        <div class="col-md-9"><input class="form-control" name="email" placeholder="Email" ng-model="user.email" ng-required="true" ng-disabled="isSaving"/></div>
    </div>
</form>