<nav class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">Spotted Admin</a></div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar" ng-if="currentUser.role === 'user'">
                <li><a href="/projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="currentUser">
                <li><a href="#">{{ currentUser.email }}</a></li>
                <li><a href="#" ng-click="logout()" title="Log out"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-if="currentUser.role === 'admin'">
            <div ng-controller="NavbarCtrl">
                <ul class="nav nav-sidebar">
                    <li ng-class="{ active: isActive('/players') }"><a href="/players">Players</a></li>
                    <li ng-class="{ active: isActive('/games') }"><a href="/games">Games</a></li>
                    <li ng-class="{ active: isActive('/badges') }"><a href="/badges">Badges </a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li ng-class="{ active: isActive('/profile') }"><a href="/profile">Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="main" ng-class="{ 'col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10': currentUser.role === 'admin', 'col-md-12': currentUser.role === 'user' }">
            <div class="row">
                <div class="col-md-12"><h1 class="page-header">Create New User</h1></div>
            </div>
            <div class="row" ng-show="isSaving">
                <div class="col-md-12">
                    <div class="sk-three-bounce">
                        <div class="sk-child sk-bounce1"></div>
                        <div class="sk-child sk-bounce2"></div>
                        <div class="sk-child sk-bounce3"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" name="userForm">
                            <div class="form-group"><label class="col-md-3 control-label" for="firstName">First Name</label>
                                <div class="col-md-9"><input class="form-control" name="firstName" ng-model="user.firstName" placeholder="First Name" ng-disabled="isSaving"/></div>
                            </div>
                            <div class="form-group"><label class="col-md-3 control-label" for="lastName">Last Name</label>
                                <div class="col-md-9"><input class="form-control" name="lastName" ng-model="user.lastName" placeholder="Last Name" ng-disabled="isSaving"/></div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid || userForm.email.$error.required }"><label class="col-md-3 control-label"
                                                                                                                                                 for="email">Email*</label>
                                <div class="col-md-9"><input class="form-control" name="email" placeholder="Email" ng-model="user.email" ng-required="true" ng-disabled="isSaving"/></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="buttons text-right"><a class="btn btn-default" href="/users">Cancel</a>
                            <button class="btn btn-primary" ng-click="createUser()" ng-disabled="userForm.$invalid || isSaving">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>