.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}

.nav-sidebar li a {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-sidebar .active a,
.nav-sidebar .active a:hover,
.nav-sidebar .active a:focus {
    background-color: #428bca;
    color: #fff;
}

.terms .tab-content {
    padding-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 10px;
}

.footer .btn {
    margin-bottom: 5px;
    padding: 6px 30px;
}

.sidebar {
    display: none;
}

.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.main .page-header {
    margin-top: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .sidebar {
        left: 0;
        top: 51px;
        bottom: 0;
        padding: 20px;
        display: block;
        position: fixed;
        z-index: 1000;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }

    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.buttons a,
.buttons button {
    margin-right: 5px;
}

.btn-icon-text {
    margin-left: 5px;
}

.ui-select-search {
    padding-left: 10px;
}

.sk-three-bounce {
    margin: 0 auto;
}

.undo-redo button {
    padding: 4px 8px;
    margin: 0 2px;
}

.btn-undo i {
    transform: scaleX(-1);
}

.btn-linked-screen {
    padding: 12px 12px 10px 12px;
}

.btn-linked-screen-on {
    color: #4caf50;
}

.btn-linked-screen-on:hover {
    color: #4caf50;
}

.btn-linked-screen-on:active {
    color: #4caf50;
}

.btn-linked-screen-on:focus {
    color: #4caf50;
}

.btn-linked-screen-off {
    color: #f44336;
}

.btn-linked-screen-off:hover {
    color: #f44336;
}

.btn-linked-screen-off:active {
    color: #f44336;
}

.btn-linked-screen-off:focus {
    color: #f44336;
}

.variable div {
    display: inline-block;
    width: calc(100% - 42px);
    margin-right: 2px;
}

.variable .btn-variable-state {
    display: inline-block;
    width: 40px;
    height: 34px;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}

.variable .btn-variable-state span {
    font-size: 20px;
}

.form-horizontal .radio {
    padding-top: 0;
}

.btn-pink {
    background-color: #ec407a;
    color: #fff;
}

.btn-pink:hover {
    background-color: #e91e63;
    color: #fff;
}

.btn-pink:active {
    color: #fff;
    background-color: #d81b60;
}

.btn-pink:focus {
    color: #fff;
    background-color: #d81b60;
}

.uncertain-bracket:before,
.uncertain-bracket:after {
    color: #ec407a;
    font-size: 20px;
    margin: 0 2px;
}

.uncertain-bracket:before {
    content: '[';
}

.uncertain-bracket:after {
    content: ']';
}

button#import {
    margin-right: 5px;
    position: relative;
}

input#imagefile {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
    position: absolute;
}

table.term-templates td.term-type {
    width: 200px;
}

table.term-templates td.variable {
    width: 200px;
}

table.term-templates td.actions {
    width: 130px;
}

table.term-templates td.actions button {
    margin: 0 2px;
}

table.term-templates tr.disabled {
    text-decoration: line-through;
    color: #f00;
}

table.users td.first-name {
    width: 150px;
}

table.users td.last-name {
    width: 150px;
}

table.users td.status {
    width: 75px;
}

table.users td.actions {
    width: 100px;
}

table.users td.actions button {
    margin: 0 2px;
}

/*# sourceMappingURL=map/app.css.map */
