form.form-horizontal(name="playerForm")
    .form-group
        label.col-md-3.control-label(for="firstName") Name
        .col-md-9
            input.form-control(name="firstName" ng-model="player.firstName" placeholder="Name" ng-disabled="isSaving" ng-readonly="true")

    .form-group(ng-class="{ 'has-error': playerForm.email.$invalid || playerForm.email.$error.required }")
        label.col-md-3.control-label(for="email") Email*
        .col-md-9
            input.form-control(name="email" placeholder="Email" ng-model="player.email"
            ng-required="true" ng-disabled="isSaving" ng-readonly="true")
    .form-group
        label.col-md-3.control-label(for="gamesWon") Games Won
        .col-md-9
            input.form-control(name="gamesWon" ng-model="player.gamesWon" placeholder="Games Won" ng-disabled="isSaving" ng-readonly="true")
    .form-group
        label.col-md-3.control-label(for="gamesPlayed") Games Played
        .col-md-9
            input.form-control(name="gamesPlayed" ng-model="player.gamesPlayed" placeholder="Games Played" ng-disabled="isSaving" ng-readonly="true")
    .form-group
        label.col-md-3.control-label(for="point") Point
        .col-md-9
            input.form-control(name="point" ng-model="player.point" placeholder="Point" ng-disabled="isSaving" ng-readonly="true")
