doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width initial-scale=1 maximum-scale=1")
        title(Celant)
        link(rel="stylesheet" href="/css/vendor.css?ts=#{version}")
        link(rel="stylesheet" href="/css/app.css?ts=#{version}")
        base(href="/")
    body(ng-app="app")
        div(ng-view)
        script(type="text/javascript" src="/scripts/vendor.js?ts=#{version}")
        script(type="text/javascript" src="/scripts/app.js?ts=#{version}")
