<nav class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">Spotted Admin</a></div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar" ng-if="currentUser.role === 'user'">
                <li><a href="/projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="currentUser">
                <li><a href="#">{{ currentUser.email }}</a></li>
                <li><a href="#" ng-click="logout()" title="Log out"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-if="currentUser.role === 'admin'">
            <div ng-controller="NavbarCtrl">
                <ul class="nav nav-sidebar">
                    <li ng-class="{ active: isActive('/players') }"><a href="/players">Players</a></li>
                    <li ng-class="{ active: isActive('/games') }"><a href="/games">Games</a></li>
                    <li ng-class="{ active: isActive('/badges') }"><a href="/badges">Badges </a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li ng-class="{ active: isActive('/profile') }"><a href="/profile">Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="main" ng-class="{ 'col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10': currentUser.role === 'admin', 'col-md-12': currentUser.role === 'user' }">
            <div class="row">
                <div class="col-md-12"><h1 class="page-header">View Game {{ ::game.gameName }}</h1></div>
            </div>
            <div class="row" ng-show="isLoading">
                <div class="col-md-12">
                    <div class="sk-three-bounce">
                        <div class="sk-child sk-bounce1"></div>
                        <div class="sk-child sk-bounce2"></div>
                        <div class="sk-child sk-bounce3"></div>
                    </div>
                </div>
            </div>
            <div ng-hide="isLoading">
                <div class="row">
                    <div class="col-md-12"><h2>View Game {{ ::game.gameName }}</h2></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group"><label class="col-md-3 control-label" for="gameCreator">Game Creator</label>
                            <div class="col-md-9"><input class="form-control" name="gameCreator" ng-model="game.gameCreator.firstName" placeholder="First Name" ng-disabled="isSaving"
                                                         ng-readonly="true"/></div>
                        </div>
                        <div class="form-group" ng-show="game.gameWinner"><label class="col-md-3 control-label" for="gameWinner">Game Winner</label>
                            <div class="col-md-9"><input class="form-control" name="gameWinner" ng-model="game.gameWinner.firstName" placeholder="Last Name" ng-disabled="isSaving" ng-readonly="true"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><h2>Games Players</h2></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped game players">
                            <thead>
                            <tr>
                                <td><strong>Player Name</strong></td>
                                <td class="status"><strong>Player Status</strong></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="player in game.players">
                                <td>{{ player.firstName }}</td>
                                <td>{{ player.status }}</td>
                                <td class="actions text-right">
                                    <button class="btn btn-default btn-primary" title="View" ng-click="viewPlayer(player)" ng-disabled="isSaving">View</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><h2>Rounds</h2></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped game gameRounds">
                            <thead>
                            <tr>
                                <td><strong>Round Number</strong></td>
                                <td><strong>Round Judger</strong></td>
                                <td><strong>Round Winner</strong></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="round in game.gameRounds">
                                <td>{{ round.roundIndex }}</td>
                                <td>{{ round.judger.firstName }}</td>
                                <td>{{ round.roundWinner.firstName }}</td>
                                <td class="actions text-right">
                                    <button class="btn btn-default btn-primary" title="View" ng-click="viewRound(round)" ng-disabled="isSaving">View</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>