form.form-horizontal(name="userForm")
    .form-group
        label.col-md-3.control-label(for="firstName") First Name
        .col-md-9
            input.form-control(name="firstName" ng-model="user.firstName" placeholder="First Name" ng-disabled="isSaving")

    .form-group
        label.col-md-3.control-label(for="lastName") Last Name
        .col-md-9
            input.form-control(name="lastName" ng-model="user.lastName" placeholder="Last Name" ng-disabled="isSaving")

    .form-group(ng-class="{ 'has-error': userForm.email.$invalid || userForm.email.$error.required }")
        label.col-md-3.control-label(for="email") Email*
        .col-md-9
            input.form-control(name="email" placeholder="Email" ng-model="user.email"
            ng-required="true" ng-disabled="isSaving")
