extends ../layout/layout.pug

block content
    .row
        .col-md-12
            h1.page-header Create New User
    .row(ng-show="isSaving")
        .col-md-12
            include ../common/spinner.pug
    div
        .row
            .col-md-12
                include ./form.pug
        .row
            .col-md-12
                .buttons.text-right
                    a.btn.btn-default(href="/users") Cancel
                    button.btn.btn-primary(ng-click="createUser()" ng-disabled="userForm.$invalid || isSaving") Create
