nav.navbar.navbar-inverse.navbar-static-top(ng-controller="NavbarCtrl")
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") Spotted Admin
        .navbar-collapse.collapse(id="navbar")
            ul.nav.navbar-nav.navbar(ng-if="currentUser.role === 'user'")
                li
                    a(href="/projects") Projects
            ul.nav.navbar-nav.navbar-right(ng-if="currentUser")
                li
                    a(href="#") {{ currentUser.email }}
                li
                    a(href="#" ng-click="logout()" title="Log out")
                        span.glyphicon.glyphicon-log-out
