<nav class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">Spotted Admin</a></div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar" ng-if="currentUser.role === 'user'">
                <li><a href="/projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="currentUser">
                <li><a href="#">{{ currentUser.email }}</a></li>
                <li><a href="#" ng-click="logout()" title="Log out"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-if="currentUser.role === 'admin'">
            <div ng-controller="NavbarCtrl">
                <ul class="nav nav-sidebar">
                    <li ng-class="{ active: isActive('/players') }"><a href="/players">Players</a></li>
                    <li ng-class="{ active: isActive('/games') }"><a href="/games">Games</a></li>
                    <li ng-class="{ active: isActive('/badges') }"><a href="/badges">Badges </a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li ng-class="{ active: isActive('/profile') }"><a href="/profile">Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="main" ng-class="{ 'col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10': currentUser.role === 'admin', 'col-md-12': currentUser.role === 'user' }"></div>
    </div>
</div>