<div ng-controller="NavbarCtrl">
    <ul class="nav nav-sidebar">
        <li ng-class="{ active: isActive('/players') }"><a href="/players">Players</a></li>
        <li ng-class="{ active: isActive('/games') }"><a href="/games">Games</a></li>
        <li ng-class="{ active: isActive('/badges') }"><a href="/badges">Badges </a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li ng-class="{ active: isActive('/profile') }"><a href="/profile">Profile</a></li>
    </ul>
</div>