<form class="form-horizontal" name="playerForm">
    <div class="form-group"><label class="col-md-3 control-label" for="firstName">Name</label>
        <div class="col-md-9"><input class="form-control" name="firstName" ng-model="player.firstName" placeholder="Name" ng-disabled="isSaving" ng-readonly="true"/></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': playerForm.email.$invalid || playerForm.email.$error.required }"><label class="col-md-3 control-label" for="email">Email*</label>
        <div class="col-md-9"><input class="form-control" name="email" placeholder="Email" ng-model="player.email" ng-required="true" ng-disabled="isSaving" ng-readonly="true"/></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="gamesWon">Games Won</label>
        <div class="col-md-9"><input class="form-control" name="gamesWon" ng-model="player.gamesWon" placeholder="Games Won" ng-disabled="isSaving" ng-readonly="true"/></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="gamesPlayed">Games Played</label>
        <div class="col-md-9"><input class="form-control" name="gamesPlayed" ng-model="player.gamesPlayed" placeholder="Games Played" ng-disabled="isSaving" ng-readonly="true"/></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="point">Point</label>
        <div class="col-md-9"><input class="form-control" name="point" ng-model="player.point" placeholder="Point" ng-disabled="isSaving" ng-readonly="true"/></div>
    </div>
</form>