<nav class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">Spotted Admin</a></div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar" ng-if="currentUser.role === 'user'">
                <li><a href="/projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="currentUser">
                <li><a href="#">{{ currentUser.email }}</a></li>
                <li><a href="#" ng-click="logout()" title="Log out"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-if="currentUser.role === 'admin'">
            <div ng-controller="NavbarCtrl">
                <ul class="nav nav-sidebar">
                    <li ng-class="{ active: isActive('/players') }"><a href="/players">Players</a></li>
                    <li ng-class="{ active: isActive('/games') }"><a href="/games">Games</a></li>
                    <li ng-class="{ active: isActive('/badges') }"><a href="/badges">Badges </a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li ng-class="{ active: isActive('/profile') }"><a href="/profile">Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="main" ng-class="{ 'col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10': currentUser.role === 'admin', 'col-md-12': currentUser.role === 'user' }">
            <div class="row">
                <div class="col-md-12"><h1 class="page-header">Edit Badge {{ ::badge.badgeName }}</h1></div>
            </div>
            <div class="row" ng-show="isLoading">
                <div class="col-md-12">
                    <div class="sk-three-bounce">
                        <div class="sk-child sk-bounce1"></div>
                        <div class="sk-child sk-bounce2"></div>
                        <div class="sk-child sk-bounce3"></div>
                    </div>
                </div>
            </div>
            <div ng-hide="isLoading">
                <div class="row">
                    <div class="col-md-12"><h2>Edit Badge {{ ::badge.badgeName }}</h2></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" name="badgeForm">
                            <div class="form-group"><label class="col-md-3 control-label" for="badgeName">Badge Name</label>
                                <div class="col-md-9"><input class="form-control" name="badgeName" ng-model="badge.badgeName" placeholder="Badge Name" ng-disabled="isSaving"/></div>
                            </div>
                            <div class="form-group"><label class="col-md-3 control-label" for="image">Image</label>
                                <div class="col-md-9"><input class="form-control" type="file" files-model="badge.image" placeholder="Image" ng-disabled="isSaving"/></div>
                            </div>
                            <div class="form-group"><label class="col-md-3 control-label" for="description">Description</label>
                                <div class="col-md-9"><input class="form-control" name="description" ng-model="badge.description" placeholder="Description" ng-disabled="isSaving"/></div>
                            </div>
                            <div class="form-group"><label class="col-md-3 control-label" for="formular">Formular</label>
                                <div class="col-md-9"><input class="form-control" name="formular" ng-model="badge.formular" placeholder="Badge Formular" ng-disabled="isSaving"
                                                             ng-readonly="ng-readonly"/></div>
                            </div>
                            <div class="form-group"><label class="col-md-3 control-label" for="property">Property</label>
                                <div class="col-md-9"><select ng-model="badge.property" ng-change="updateFormular()">
                                    <option value="gamesPlayed">GamesPlayed</option>
                                    <option value="gamesWon">GamesWon</option>
                                    <option value="point">Point</option>
                                </select></div>
                            </div>
                            <div class="form-group"><label class="col-md-3 control-label" for="relation">Relation</label>
                                <div class="col-md-9"><select ng-model="badge.relation" ng-change="updateFormular()">
                                    <option value="equal">Equal</option>
                                    <option value="bigger">Bigger</option>
                                    <option Value="smaller">Smaller</option>
                                </select></div>
                            </div>
                            <div class="form-group"><label class="col-md-3 control-label" for="value">Value</label>
                                <div class="col-md-9"><input class="form-control" type="number" name="value" ng-model="badge.value" placeholder="Value" ng-pattern="integerval" required="required"
                                                             ng-disabled="isSaving" ng-change="updateFormular()"/><span ng-show="badge.value.$invalid">No letters  </span></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="buttons text-right"><a class="btn btn-default" href="/badges">Cancel</a>
                            <button class="btn btn-primary" ng-click="saveBadge()" ng-disabled="badgeForm.$invalid || isSaving">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>