<form class="form-horizontal" name="badgeForm">
    <div class="form-group"><label class="col-md-3 control-label" for="badgeName">Badge Name</label>
        <div class="col-md-9"><input class="form-control" name="badgeName" ng-model="badge.badgeName" placeholder="Badge Name" ng-disabled="isSaving"/></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="image">Image</label>
        <div class="col-md-9"><input class="form-control" type="file" files-model="badge.image" placeholder="Image" ng-disabled="isSaving"/></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="description">Description</label>
        <div class="col-md-9"><input class="form-control" name="description" ng-model="badge.description" placeholder="Description" ng-disabled="isSaving"/></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="formular">Formular</label>
        <div class="col-md-9"><input class="form-control" name="formular" ng-model="badge.formular" placeholder="Badge Formular" ng-disabled="isSaving" ng-readonly="ng-readonly"/></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="property">Property</label>
        <div class="col-md-9"><select ng-model="badge.property" ng-change="updateFormular()">
            <option value="gamesPlayed">GamesPlayed</option>
            <option value="gamesWon">GamesWon</option>
            <option value="point">Point</option>
        </select></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="relation">Relation</label>
        <div class="col-md-9"><select ng-model="badge.relation" ng-change="updateFormular()">
            <option value="equal">Equal</option>
            <option value="bigger">Bigger</option>
            <option Value="smaller">Smaller</option>
        </select></div>
    </div>
    <div class="form-group"><label class="col-md-3 control-label" for="value">Value</label>
        <div class="col-md-9"><input class="form-control" type="number" name="value" ng-model="badge.value" placeholder="Value" ng-pattern="integerval" required="required" ng-disabled="isSaving"
                                     ng-change="updateFormular()"/><span ng-show="badge.value.$invalid">No letters  </span></div>
    </div>
</form>